<div class="contenedor" [ngClass]="isExpanded ? 'visible' : 'hiddenContenedor'">
  <div class="bg-gray-800 w-full flex flex-col transition" [ngClass]="isExpanded ? null : 'hiddenSearchBox'">
    <div class="w-11/12 flex items-center p-[20px] mx-auto">
      <mat-icon class="text-white">search</mat-icon>
      <input #searchInput class="searchInput sm: text-sm md:text-lg" type="text" placeholder="¿Qué es lo que estás buscando?" (keyup.enter)="searchTag($event)">
      <mat-icon class="text-white hover:text-gray-200 cursor-pointer" (click)="close()">close</mat-icon>
    </div>
    <button
      *ngFor="let tag of tags"
      (click)="clickedTag(tag)"
      class="bg-gray-800 text-white hover:bg-gray-900 px-4 py-2 w-full flex items-center"
    >
      <mat-icon>history</mat-icon>
      <span class="mx-auto">{{ tag | titlecase }}</span>
    </button>
  </div>
  <div class="fixed w-full h-full" (click)="close()">
  </div>
</div>
