.contenedor-search {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 999;
  background-color: rgba(30, 34, 40, .7);
  opacity: 1;
}

.transition {
  transform: none;
  visibility: visible;
  transition: all 0.3s ease;
}

.hiddenContenedor {
  opacity: 0;
  visibility: hidden;
}

.hiddenSearchBox {
  transform: translateY(-100%);
  visibility: hidden;
}


.searchInput {
  padding: .45rem;
  width: 100%;
  outline: none;
  border: none;
  background: none;
  box-shadow: none;
  color: white;
}
