  .container-example {
    max-height: 70vh;
    overflow: auto;
  }

  .expanded {
    height: min-content !important;
    visibility: visible !important;
  }

  .hidColLength-0 {
    height: 0px !important;
    min-height: 0px !important;
    visibility: hidden !important;
  }

  .mat-column-trigger {
    max-width: 58px;
    word-wrap: break-word;
    padding: 0px;
  }

  .mat-column-action {
    max-width: 78.05px;
    word-wrap: break-word;
    padding: 0;
  }

  .filterHeader {
    padding: 0 24px;
  }
