<mat-card>
  <mat-card-header>
    <mat-form-field appearance="outline" class="mr-auto">
      <input matInput (keyup)="FilterChange($event)" placeholder="Filter" />
    </mat-form-field>
    <button type="button" mat-fab extended color="primary" (click)="agregarElemento($event)">
      <mat-icon>add</mat-icon>
      Add new
    </button>
  </mat-card-header>
  <mat-card-content>
    <mat-table #dataTable [dataSource]="dataSource" matSort multiTemplateDataRows>
      <!-- Toggle Button Start -->
      <ng-container matColumnDef="trigger">
        <mat-header-cell *matHeaderCellDef class="flex justify-center">
          <mat-icon>menu</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" class="flex justify-center">
          <button mat-icon-button aria-label="expand row"
            (click)="expandedElement[row.recId] = !expandedElement[row.recId]">
            <mat-icon *ngIf="!expandedElement[row.recId]">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement[row.recId]">keyboard_arrow_up</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <!-- Toggle Button End -->

      <ng-container [matColumnDef]="column.id" *ngFor="let column of visibleColumns">
        <!-- Header cell -->
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ column.label}}
        </mat-header-cell>

        <mat-cell *matCellDef="let row">
          <ng-container *ngIf="column.id !== 'action' && column.id !== 'imagen'">
            {{ row[column.id] }}
          </ng-container>
          <ng-container *ngIf="column.id === 'imagen'">
            <img src="http://localhost:3000/{{row[column.id]}}" alt="imagen">
          </ng-container>
          <ng-container *ngIf="column.id === 'action'">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="eliminarElemento(row)">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
              <button mat-menu-item (click)="editarElemento(row)">
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
            </mat-menu>

          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="hidden">
        <mat-cell *matCellDef="let row; let i = dataIndex" class="flex flex-col items-start">
          <p *ngFor="let hiddenColumn of hiddenColumns" class="m-2">
            <strong> {{ hiddenColumn.label }}: </strong>
            <span>
              {{ row[hiddenColumn.id] }}
            </span>
          </p>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="visibleColumnsIds; sticky: true" class=""></mat-header-row>

      <mat-row *matRowDef="let row; let i = dataIndex; columns: visibleColumnsIds"
        class="matRowVisible visible-row-{{ row.recId }}"></mat-row>

      <!-- Body row definition for hidden columns -->
      <mat-row *matRowDef="let row; let i = dataIndex; columns: ['hidden']" [@detailExpand]="expandedElement[row.recId]
            ? 'expanded'
            : 'collapsed'" class="hidColLength-{{hiddenColumns?.length}}">
      </mat-row>

    </mat-table>
  </mat-card-content>
  <mat-card-actions align="end">
    <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = $event"></mat-paginator>
  </mat-card-actions>
</mat-card>
