  .container-example {
    max-height: 70vh;
    overflow: auto;
  }

  .mat-column-trigger {
    max-width: 58px;
    word-wrap: break-word;
    padding: 0px;
  }

  .mat-column-action {
    max-width: 78.05px;
    word-wrap: break-word;
    padding: 0;
  }

  /* SIRVE PARA ESCONDER LA FILA DE ATRIBUTOS ESCONDIDOS CUANDO SE VUELVE A UNA PANTALLA GRANDE */
  .hidColLength-0 {
    height: 0px !important;
    min-height: 0px !important;
    visibility: hidden !important;
  }

  .filterHeader {
    display: flex;
    align-items: center;
  }

  mat-card {
    position: inherit;
  }
