.table>thead {
  vertical-align: bottom;
  transition: all 0.5s ease;
}

.table>:not(caption)>*>*{
  padding: 0.9rem 0;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

table.shopping-cart td {
  vertical-align: middle;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.input-group {
  display: flex;
  border-radius: .3rem;
  overflow: hidden;
  width: 80px;
  justify-content: space-between;
  align-items: center;
}

.input-btn {
  width: 23px;
  padding: .2rem 0;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: var(--primary);
}

section > .chiplg {
  flex-direction: column;
  align-items: start;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
}

.xd {
  fill: var(--success);
}
