<footer class="primary">
  <div class="container py-10">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 text-center ">
      <div class="mb-5">
        <h4 class="text-center"><strong>¿Dónde estamos?</strong></h4>
        <br />
        <div class="flex flex-col items-center">
          <div class="flex justify-center gap-2 mb-3">
            <mat-icon>place</mat-icon>
            <p>Rosario, Santa Fe - Argentina</p>
          </div>
          <div class="w-full" style="height: 200px; max-width: 100%; overflow: hidden;">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26785.066019374744!2d-60.65999!3d-32.944199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b6539335d7d75b%3A0xec4086e90258a557!2sRosario%2C%20Santa%20Fe!5e0!3m2!1ses-419!2sar!4v1709068348361!5m2!1ses-419!2sar"
              width="100%"
              height="100%"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <h4><strong>Links</strong></h4>
        <ul>
          <br />
          <li class="pb-4">
            <i class="fa fa-chevron-right"></i
            ><a
              href="#/home"
              class="hover:text-[var(--accent)]"
              >Inicio</a
            >
          </li>
          <li class="pb-4">
            <i class="fa fa-chevron-right"></i
            ><a
              href="#/products"
              class="hover:text-[var(--accent)]"
              >Productos</a
            >
          </li>
          <li class="pb-4">
            <i class="fa fa-chevron-right"></i
            ><a
              href="#/about-us"
              class="hover:text-[var(--accent)]"
              >Sobre Nosotros</a
            >
          </li>
          <li></li>
        </ul>
      </div>
      <div class="mb-5">
        <ul>
          <li>
            <h4><strong>Contactanos!</strong></h4>
            <br />
            <a href="https://api.whatsapp.com/send?phone=3464580239"
            class="hover:text-[var(--accent)]">
              <mat-icon >phone</mat-icon> <br />
            </a>
            <mat-icon>message</mat-icon> <br />
            <a href="mailto: beyond@limits.com.ar"
              class="hover:text-[var(--accent)]">
              <mat-icon>email</mat-icon> <br />
            </a>
          </li>
        </ul>
      </div>
      <div class="mb-5">
        <strong>Nuestros Servicios</strong> <br />
        <ul>
          <li>Impresiones 3D</li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<div>
  <button
    (click)="goToTop()"
    class="hover:brightness-125 primary border-gray-300 border px-4 py-3 fixed bottom-4 right-4 rounded-full transition-opacity duration-500"
    [ngClass]="{
      'opacity-0': !showButton,
      'opacity-100': showButton,
      'invisible': !showButton
    }">
    <mat-icon class="pt-1">
      keyboard_arrow_up
    </mat-icon>
  </button>
</div>
