<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <footer class="bg-[#374070] mat-elevation-z8">
    <div class="p-10 bd-gray-800 text-gray-200">
      <div class="max-w-7xl mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-2">
          <div class="mb-5">
            <h4><strong>Donde estamos?</strong></h4><br>
            Rosario 2000, Santa Fe Argentina
          </div>
          <div class="mb-5">
            <h4><strong>Links</strong></h4>
            <ul>
              <br>
              <li class="pb-4"><i class="fa fa-chevron-right"></i><a href="http://localhost:4200/home" class="hover:text-yellow-500">Inicio</a></li>
              <li class="pb-4"><i class="fa fa-chevron-right"></i><a href="http://localhost:4200/products" class="hover:text-yellow-500">Productos</a></li>
              <li class="pb-4"><i class="fa fa-chevron-right"></i><a href="http://localhost:4200/aboutUs" class="hover:text-yellow-500">Sobre Nosotros</a></li>
              <li></li>
            </ul>
          </div>
          <div class="mb-5">
            <ul>
              <li>
                <h4><strong>Contactanos!</strong></h4> <br>
                <mat-icon>phone</mat-icon> <br>
                <mat-icon>message</mat-icon> <br>
                <mat-icon>email</mat-icon> <br>
              </li>
            </ul>
          </div>
          <div class="mb-5">
            <strong>Nuestros Serivicios</strong> <br>
            <ul>
              <li>Impresiones 3D</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
