.contenedor {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: .5fr auto; */
  grid-template-areas:
    "estado  estado   estado"
    "cliente producto producto";
  gap: 10px;
}

.cliente {
  grid-area: cliente;
}

.productos {
  grid-area: producto;
}

.estado {
  grid-area: estado;
}

.client-data-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
  margin-top: .5rem;
}

@media (max-width: 991px) {
  /* app-nav,
  app-aside {
    margin: 0;
  } */
  /* "estado  estado   estado"
  "cliente producto producto"; */
  .contenedor {
    grid-template-columns: 1fr;
    grid-template-rows:auto minmax(60px, auto) auto;
    grid-template-areas:
      "estado"
      "cliente"
      "producto";
  }

  .client-data-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
    margin-top: .5rem;
  }
}

