.shoppingCart {
  position: fixed;  /*Fija el carrito en la pantalla, sin importar el desplazamiento del usuario.*/
  width: 90vw;/* El carrito ocupa el 90% del ancho de la ventana.*/
  height: 100vh;/*La altura del carrito es del 100% de la ventana (pantalla completa).*/
  top: 0;/*Se posiciona en la esquina superior derecha.*/
  right: 0;
  z-index: 1000;/*Se asegura de que el carrito aparezca por encima de otros elementos en la página.*/
  transition: transform 0.3s ease;/*Suaviza el deslizamiento cuando el carrito se muestra o se oculta.*/
  padding: 2rem;/*Agrega espacio interno para evitar que el contenido quede pegado a los bordes.*/
  background-color: var(--primary);/* Usa una variable CSS (--primary) para definir el color de fondo.*/
  overflow-y: scroll; /*Habilita el desplazamiento vertical si el contenido es más alto que el div (muchos articulos).*/
}

.shoppingCart::-webkit-scrollbar {
  display: none; /* Hace que la barra de desplazamiento sea invisible, pero el usuario aún puede desplazarse con el scroll. */
}

.input-group {
  display: flex;
  border-radius: .3rem;
  overflow: hidden;
  width: 80px;
  justify-content: space-between;
  align-items: center;
}

.input-btn {
  width: 23px;
  padding: .2rem 0;
}

.disabled {
  color: gray;
}

@media screen and (min-width: 576px) {
  .shoppingCart {
    width: 400px;
  }

}
