<mat-icon  [matBadge]="shoppingList ? shoppingList.length : ''" matBadgeColor="warn" (click)="toggleShoppingCart()" class="icon">shopping_cart</mat-icon>
<!-- <div (click)="toggleFilters()" [ngClass]="isFilterOn ? 'shadow' : 'none'"></div> -->
<div class="shoppingCart flex flex-col" [ngClass]="isExpanded ? '' : 'translate-x-full'">
  <div class="flex justify-between mb-4">
    <h2 class="text-2xl">Tu carrito</h2>
    <button (click)="toggleShoppingCart()">
      <mat-icon class="icon">close</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="shoppingList">
    <div *ngFor="let shoppItem of shoppingList" class="mb-2">
      <div class="flex">
        <figure class="rounded max-w-[80px] max-h-[80px] min-w-[80px] min-h-[80px] p-1 flex items-center justify-center bg-white">
          <img
          src="{{ baseUrl }}/products/getFile?fileName={{ shoppItem.product.imagen }}"
          [alt]="shoppItem.product.name"
          class="object-contain h-full"
          />
        </figure>
        <div class="ml-4 w-full">
          <h3>{{shoppItem.product.name}}</h3>
          <p>{{shoppItem.product.price * shoppItem.quantity| currency}}</p>
        </div>
        <div>
          <div class="ml-auto w-fit">
            <mat-icon class="icon" (click)="removeShoppItem(shoppItem.product.id)">delete</mat-icon>
          </div>
          <div class="input-group">
            <button class="input-btn primary-reverse brightness" (click)="decreaseQuantity(shoppItem.product.id)">-</button>
            <p class="font-semibold">{{shoppItem.quantity}}</p>
            <button class="input-btn primary-reverse brightness" (click)="increaseQuantity(shoppItem.product.id)">+</button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="mt-auto w-full bottom-0 flex justify-between">
    <span>Subtotal:</span>
    <span>{{total | currency}}</span>
  </div>
  <button class="chiplg primary-reverse brightness mt-4">
    <mat-icon>payments</mat-icon>
    <p>Checkout</p>
  </button>
</div>
<div (click)="toggleShoppingCart()" [ngClass]="isExpanded ? 'shadowlg' : 'none'">

