<mat-icon  [matBadge]="shoppingList ? shoppingList.length : ''" matBadgeColor="warn" (click)="toggleShoppingCart()" class="icon">shopping_cart</mat-icon>

<div class="shoppingCart flex flex-col" [ngClass]="{'translate-x-full' : !isExpanded}">

  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl">Tu carrito</h2>
    <div class="flex items-center gap-2">
      <!-- Botón para vaciar carrito con tooltip -->
      <button mat-icon-button (click)="clearShoppingCart()" matTooltip="Vaciar carrito">
        <mat-icon class="text-red-600">delete_forever</mat-icon>
      </button>

      <!-- Botón para cerrar el carrito -->
      <button mat-icon-button (click)="toggleShoppingCart()">
        <mat-icon class="text-white">close</mat-icon>
      </button>
    </div>
  </div>

  <ng-container *ngIf="shoppingList">
    <div *ngFor="let shoppItem of shoppingList" class="mb-2">

      <div class="flex">
        <figure class="rounded max-w-[80px] max-h-[80px] min-w-[80px] min-h-[80px] p-1 flex items-center justify-center bg-white">
          <img
          src="{{ baseUrl }}/products/getFile?fileName={{ shoppItem.product.imagen }}"
          [alt]="shoppItem.product.name"
          class="object-contain h-full"
          />
        </figure>
        <div class="ml-4 w-full">
          <h3>{{shoppItem.product.name}}</h3>
          <p>{{shoppItem.product.price * shoppItem.quantity | currency}}</p>
        </div>
        <div>
          <div class="ml-auto w-fit">
            <mat-icon class="icon" (click)="removeShoppItem(shoppItem.product)">delete</mat-icon>
          </div>
          <div class="input-group">
            <button class="input-btn primary-reverse brightness" (click)="changeQuantity(shoppItem, -1)">-</button>
            <p class="font-semibold">{{shoppItem.quantity}}</p>
            <button class="input-btn primary-reverse brightness" (click)="changeQuantity(shoppItem, +1)">+</button>
          </div>
        </div>
      </div>

    </div>
  </ng-container>

  <div class="mt-auto w-full bottom-0 flex justify-between">
    <span>Subtotal:</span>
    <span>{{total | currency}}</span>
  </div>

  <button class="chiplg primary-reverse brightness mt-4 " [disabled]="shoppingList.length === 0" [ngClass]="{'disabled': shoppingList.length === 0}" routerLink="/checkout" (click)="toggleShoppingCart()">
    <mat-icon>payments</mat-icon>
    <p>Comprar</p>
  </button>

  <div id="wallet_container"></div>
</div>
<div (click)="toggleShoppingCart()" [ngClass]="{'shadowlg' : isExpanded}">

