header {
  /* padding: 35px 0;
  z-index: 1000;
  width: 100%;
  top: 0;
  background: #f1f1f1 */
  padding: 35px 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  transition: top 0.3s; /* Agrega una transición suave */
  z-index: 1000;
}
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: opacity 0.3s ease;
  display: none; /* Inicialmente oculto */
}

.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px; /* ajusta el ancho según tu diseño */
  height: 100%;
  background-color:#f1f1f1;
  padding: 20px;
  z-index: 1000;
  transition: transform 0.5s ease, opacity 0.3s ease;
  transform: translateX(100%); /* Inicialmente fuera de la pantalla */
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: opacity 0.3s ease;
  display: none;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px; /* ajusta el ancho según tu diseño */
  height: 100%;
  background-color:#f1f1f1;
  padding: 20px;
  z-index: 1000;
  transition: transform 0.5s ease, opacity 0.3s ease;
  transform: translateX(100%);
}

.menu-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-container ul li {
  margin-bottom: 10px;
}

.menu-container ul li a {
  color: #333;
  text-decoration: none;
}

.show {
  display: block;
}

.menu-open {
  color: blue; /* Ajusta el color del icono cuando el menú está abierto */
}
.cart-container.show {
  transform: translateX(0);
}

.cart-overlay.show {
  display: block;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.slide-in-from-top {
  animation: slideInFromTop 0.3s ease-in-out;
}

@keyframes slideOutToTop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.slide-out-to-top {
  animation: slideOutToTop 0.3s ease-in-out;
}
/*
.menu{
  margin-top:10px;
  display: inline;
  text-align: center;
  align-items: center;
}

.menu ul{
  padding:0;
  margin: 0;
}

.menu ul li{
  color: white;
  font-size: 30px;
  margin-left: 100px;
  display: inline-block;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;

}

.menu ul li:hover {
  color: #0ce2d7;
  cursor: pointer;
  transition: 0.4s ease-in-out;
} */

@media (min-width: 630px) {
  #menu-icon {
    display: none;
  }
}


