<div class="bg-custom">
  <section class="container pt-[80px] lg:pt-0 min-h-screen grid lg:grid-cols-2 items-center gap-4">
    <div>
      <h1 class="text-6xl font-semibold leading-normal">Bienvenidos a Beyond Limits</h1>
      <p>Descubre un mundo de posibilidades con nuestros productos impresos en 3D, diseñados a la medida de tus necesidades.</p>
    </div>
    <div class="flex items-center justify-center">
      <img src="../../../../assets/images/Benchy.png" alt="" class="w-full mix-blend-luminosity">
    </div>
  </section>
  <div class="w-full backdrop-sepia">
    <section class="container flex gap-4">
      <div class="hidden lg:block">
        <img src="../../../../assets/images/ElDavid.png" alt="" class="h-full object-cover">
      </div>
      <div class="py-6">
        <h2 class="block antialiased tracking-normal  text-4xl font-bold leading-[1.3] mb-4">Un emprendimiento familiar</h2>
        <div class="mt-10">
          <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
            <div class="flex flex-col bg-clip-border rounded-xl shadow-md border border-[var(--primary)]">
              <div class=" bg-clip-border mt-4 rounded-xl overflow-hidden bg-transparent shadow-none !m-0 px-6">
                <h3 class="antialiased tracking-normal text-2xl font-medium leading-snug flex gap-1 mt-4">Pasión por la innovación</h3>
              </div>
              <div class="py-4 px-6 border-blue-gray-50">
               <p class="block antialiased text-lg leading-normal font-normal">Nuestro equipo está apasionado por explorar las últimas tecnologías de impresión 3D para crear soluciones únicas.</p>
              </div>
            </div>
            <div class="flex flex-col bg-clip-border rounded-xl shadow-md border border-[var(--primary)]">
              <div class=" bg-clip-border mt-4 rounded-xl overflow-hidden bg-transparent shadow-none !m-0 px-6">
                <h3 class="antialiased tracking-normal text-2xl font-medium leading-snug flex gap-1 mt-4">Enfoque personalizado</h3>
              </div>
              <div class="py-4 px-6 border-blue-gray-50">
               <p class="block antialiased text-lg leading-normal font-normal">Trabajamos en estrecha colaboración con nuestros clientes para entender sus necesidades y diseñar productos a medida.</p>
              </div>
            </div>
            <div class="flex flex-col col-span-1 md:col-span-2 lg:col-span-1 bg-clip-border rounded-xl shadow-md border border-[var(--primary)]">
              <div class=" bg-clip-border mt-4 rounded-xl overflow-hidden bg-transparent shadow-none !m-0 px-6">
                <h3 class="antialiased tracking-normal text-2xl font-medium leading-snug flex gap-1 mt-4">Excelencia artesanal</h3>
              </div>
              <div class="py-4 px-6 border-blue-gray-50">
               <p class="block antialiased text-lg leading-normal font-normal">Cada pieza que creamos se elabora con cuidado y atención a los detalles para garantizar la máxima calidad.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="container min-h-screen flex items-center justify-center">
    <div class="py-6">
      <h2 class="block antialiased tracking-normal  text-4xl font-bold leading-[1.3] mb-4">Categorías más seleccionadas</h2>
      <div class="mt-10">
        <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
          <div class="backdrop-blur-sm rounded-lg p-4">
            <img src="https://milluy.com/wp-content/uploads/2022/08/Bulbasaur-Maceta-ML-2.png" alt="Placeholder Image" class="w-full h-48 rounded-md object-contain">
            <div class="px-1 py-4">
              <h3 class=" antialiased tracking-normal text-2xl font-medium leading-snug flex gap-1">Decoración del Hogar</h3>
              <p class=" mt-2 text-base">
                Nuestros accesorios decorativos impresos en 3D añaden un toque de elegancia y personalidad a cualquier espacio.
              </p>
            </div>
          </div>
          <div class="backdrop-blur-sm rounded-lg p-4">
            <img src="https://www.sculpteo.com/wp-content/uploads/2024/10/Composition_Home.png" alt="Placeholder Image" class="w-full h-48 rounded-md object-contain">
            <div class="px-1 py-4">
              <h3 class=" antialiased tracking-normal text-2xl font-medium leading-snug flex gap-1">Piezas de Repuesto</h3>
              <p class=" mt-2 text-base">
                Fabricamos componentes de reemplazo de alta calidad para mantener su equipo en funcionamiento.
              </p>
            </div>
          </div>
          <div class="backdrop-blur-sm rounded-lg p-4">
            <img src="https://d2t1xqejof9utc.cloudfront.net/screenshots/pics/4beb55a82f81709a83b7f81c7d8a2edc/large.png" alt="Placeholder Image" class="w-full h-48 rounded-md object-contain">
            <div class="px-1 py-4">
              <h3 class=" antialiased tracking-normal text-2xl font-medium leading-snug flex gap-1">Productos Médicos</h3>
              <p class=" mt-2 text-base">
                Ofrecemos soluciones de salud personalizadas, desde dispositivos médicos hasta prótesis a medida.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
