.contenedor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-gap: 12px;
  grid-template-areas:
    "header"
    "content"
    "footer";
  height: 100vh;
}

public-panel-header {
  grid-area: header;
}

main {
  grid-area: content;
}

public-panel-footer {
  grid-area: footer;
}
