.layout-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "content"
    "footer";
    min-height: 100vh;
}

public-panel-header {
  grid-area: header;
  position: fixed;
  width: 100%;
  z-index: 1001;
  top: 0;
  transition: background-color 0.3s;
}

.scrolled {
  background: var(--primary);
}

main {
  grid-area: content;
}

public-panel-footer {
  grid-area: footer;
}
