<mat-toolbar color="primary" class="fix-nav">
  <button type="button" mat-icon-button (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="hidden lg:block text-center">
    BeyondLimits
  </span>
  <span class="example-spacer"></span>


  <button *ngIf="finishedUserCheck()" mat-button [matMenuTriggerFor]="menu" class="flex items-center p-1">
    <mat-icon class="scale-[2]">person</mat-icon>
    <span class="flex flex-col items-start text-xs ml-2">
      <div>{{currentUser?.firstName || 'no name' | titlecase}} {{currentUser?.lastName | titlecase}}</div>
      <div>{{currentUser?.email}}</div>
    </span>
    <mat-icon iconPositionEnd>expand_more</mat-icon>
  </button>

  <div *ngIf="!finishedUserCheck()">
    <mat-spinner></mat-spinner>
  </div>

  <mat-menu #menu="matMenu" xPosition="before">
    <button mat-menu-item (click)="Logout()" routerLink="/">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
    <button mat-menu-item routerLink="/home">
      <mat-icon>store</mat-icon>
      <span>Ecommerce</span>
    </button>
  </mat-menu>
</mat-toolbar>
