.productGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

mat-card {
  box-shadow: none !important;
}

.filters {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
  width: 75vw;
  transition: transform 0.3s ease;
  background-color: var(--primary);
}

.selected {
  border-left: 5px solid var(--accent);

}

@media screen and (min-width:992px) {
  .filters {
    position: inherit;
    width: auto;
    height: auto;
    transform: translate(0px);
    z-index: 998;
    background: none;
  }
}
