<mat-card>
  <mat-card-header>
    <mat-card-title>Add Product</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="myForm" (ngSubmit)="onFormSubmit()">
      <div class="file-container">
        <input type="file" class="file" (change)="getFile($event)" formControlName="image">
        <div class="img-view" >
          <ng-container *ngIf="!imagen">
            <mat-icon class="icon">image</mat-icon>
            <p>Drag and drop or click here<br>to upload image</p>
            <span>Upload one image from desktop</span>
          </ng-container>
          <ng-container *ngIf="imagen">
            <img [src]="imagen" alt="">
            <mat-icon class="close" (click)="clearFile()" >close</mat-icon>
          </ng-container>
        </div>
      </div>
      <mat-hint customLabel [isTouched]="myForm.get('image')?.touched" [errors]="myForm.get('image')?.errors"></mat-hint>

      <mat-form-field appearance="outline" class="mt-4">
        <mat-label>Product Name</mat-label>
        <input matInput placeholder="product name..." formControlName="name">
        <mat-hint customLabel [isTouched]="myForm.get('name')?.touched"
          [errors]="myForm.get('name')?.errors"></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput placeholder="description..." formControlName="description">
        <mat-hint customLabel [isTouched]="myForm.get('description')?.touched"
          [errors]="myForm.get('description')?.errors"></mat-hint>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="number" placeholder="3300.99" step="0.01" min="0" formControlName="price">
        <span matTextPrefix>$&nbsp;</span>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Categories</mat-label>

        <mat-chip-grid #chipGrid>
          <mat-chip-row *ngFor="let cChip of categoriesChips" (removed)="remove(cChip)">
            {{cChip.categoryName}}
            <button matChipRemove [attr.aria-label]="'remove ' + cChip">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>

        <input matInput placeholder="New Category..." #categoryInput formControlName="categoriesCtrl" (keyup)="onKey($event)"
          [matAutocomplete]="auto"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputFor]="chipGrid">
        <mat-hint customLabel [isTouched]="myForm.get('categoriesCtrl')?.touched"
          [errors]="myForm.get('categoriesCtrl')?.errors"></mat-hint>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let category of filteredCategories" [value]="category">
            {{category.categoryName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit"> ADD PRODUCT</button>
    </form>



  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
