<mat-nav-list>

  <cdk-tree [dataSource]="dataSource" [treeControl]="treeControl">

    <cdk-nested-tree-node *cdkTreeNodeDef="let node" class="app-tree-node" routerLinkActive="bg-slate-100">
      <a mat-list-item [routerLink]="['./', node.path]">
        <mat-icon matListItemIcon>{{ node.data.icon }}</mat-icon>
      </a>
    </cdk-nested-tree-node>


    <cdk-nested-tree-node *cdkTreeNodeDef="let node; when: hasChild" class="app-tree-node">
      <a mat-list-item [attr.aria-label]="'Toggle ' + node.data.text" cdkTreeNodeToggle>
        <mat-icon matListItemIcon class="duration-150" [ngClass]="treeControl.isExpanded(node) ? 'rotate-90' : ''">
          chevron_right
        </mat-icon>
      </a>

      <div [class.app-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container cdkTreeNodeOutlet></ng-container>
      </div>

    </cdk-nested-tree-node>
  </cdk-tree>
</mat-nav-list>
