<public-user-panel-layout>
  <ng-container *ngIf="!userOrders">
    <div class="flex flex-col items-center justify-center h-full" *ngIf="!unAuthorized">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="unAuthorized">
      <div class="flex flex-col items-center justify-center h-full">
        <h3>No hay ningun pedido realizado!</h3>
        <mat-icon>shopping_basket</mat-icon>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="userOrders">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Pedidos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let order of userOrders" class="pt-4">
          <div class="grid grid-cols-6 gap-1 mb-2 border-solid border-2 border-slate-100 rounded-xl p-3 cursor-pointer lg:p-4 lg:gap-2 text-slate-400 text-sm transition-all duration-100 ease-linear hover:border-slate-300" [routerLink]="['/orders', order.id]">
            <div class="col-span-3 lg:col-span-2">
              <span>Código: </span>
              <span class="font-medium">{{order.id}}</span>
            </div>
            <div class="col-span-3 lg:col-span-2">
              <span>Productos: </span>
              <span>{{order.products.length}}</span>
            </div>
            <div class="col-span-3 lg:col-span-2" *ngIf="order.total">
              <span>Total: </span>
              <span>{{order.total | currency}}</span>
            </div>
            <div class="col-span-3 lg:col-span-2">
              <span>Fecha: </span>
              <span>{{order.orderAt | date:'d/M/yy, h:mm a'}}</span>
            </div>
            <div class="col-span-3 lg:col-span-2" *ngIf="order.payments.length > 0">
              <span>Pago: </span>
              <span class="p-1.5 rounded-full" [ngClass]="setPaymentStatusColor(order.payments[0].status)">{{order.payments[0].status}}</span>
            </div>
            <div class="col-span-3 lg:col-span-2">
              <span>Estado: </span>
              <span class="p-1.5 rounded-full" [ngClass]="setOrderStatusColor(order.status)">{{order.status}}</span>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</public-user-panel-layout>
