/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f1f1f1;
}

.mdc-notched-outline__notch {
  border-right: none !important;
}

:root {
  /* --container-sm: 48em;
  --container-md: 62em;
  --container-lg: 75em; */
  --background-color: #374070;
}

.contenedor {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.d-none {
  display: none !important;
}

@media screen and (min-width: 576px) {
  .contenedor {
      max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .contenedor {
      max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .contenedor {
      max-width: 960px;
  }

  .d-lg-none {
    display: none !important;
  }

  .d-lg-block {
    display: block !important;
  }
}

@media screen and (min-width: 1200px) {
  .contenedor {
      max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .contenedor {
      max-width: 1320px;
  }
}
