/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body { height: 100%; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* background-color: #f1f1f1; */
}

.mdc-notched-outline__notch {
  border-right: none !important;
}

:root {
  --background-color: #3f51b5;
  --primary: #3f51b5;
  --text-color: #fff;
  --success: #02be6e;
  --danger: dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
}

.contenedor {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.d-none {
  display: none !important;
}

.primary {
  background-color: var(--primary);
  color: var(--text-color);
}

.primary-reverse {
  background-color: var(--text-color);
  color: var(--primary)
}

.shadow, .shadowlg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.chip, .chiplg {
  width: 100%;
  min-height: 50px;
  border-radius: .3rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: .7rem 1rem;
  font-size: small;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (min-width: 576px) {
  .contenedor {
      max-width: 540px;
  }
}

@media screen and (min-width: 768px) {
  .contenedor {
      max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .contenedor {
      max-width: 960px;
  }

  .d-lg-none {
    display: none !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .shadow {
    display: none;
  }

  .chip {
    width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .contenedor {
      max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .contenedor {
      max-width: 1320px;
  }
}
