<public-panel-header></public-panel-header> 
<div class="m-5">
  <!-- Header -->
  <!-- <div class="container mx-auto flex items-center justify-between p-4">
    <public-panel-header></public-panel-header>
  </div> -->
  <!-- SideNav categorias -->
  <div class="grid grid-cols-12">
    <!-- <div class="col-span-2">
      <public-panel-side-nav></public-panel-side-nav>
    </div> -->
    <div class="col-span-10">
      <div
        class="grid gap-4 desktop:grid-cols-4 laptop:grid-cols-3 tablet:grid-cols-2 content-item-center phone:grid-cols-1"
      >
        <div *ngFor="let product of products" class="border">
          <!-- place-content-center flex justify-center -->
          <!-- flex items-center justify-center -->
          <public-panel-product-card
            class="w-full h-full"
            [product]="product"
          ></public-panel-product-card>
        </div>
      </div>
    </div>
  </div>
</div>
<public-panel-footer></public-panel-footer>