<div class="grid grid-cols-1 gap-x-4 lg:grid-cols-2">
  <div class="pt-6">
    <h1 class="font-bold text-5xl mb-4">Contacto</h1>
    <p>
      Ingresá tus datos para realizar una consulta o solicitar información. Te
      responderemos a la mayor brevedad posible.
    </p>
  </div>
  <form class="pt-6 pb-8 flex flex-col gap-3">
    <div>
      <label
        class="block text-gray-700 text-sm font-semibold mb-2"
        for="nombre"
      >
        Nombre
      </label>
      <input
        class="inputForm"
        id="nombre"
        type="text"
        placeholder=""
      />
    </div>
    <div>
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="correo"
      >
        Correo Electrónico
      </label>
      <input
        class="inputForm"
        id="correo"
        type="email"
        placeholder=""
      />
    </div>
    <div>
      <label
        class="block text-gray-700 text-sm font-bold mb-2"
        for="descripcion"
      >
        Descripción
      </label>
      <textarea
        class="inputForm resize-none h-[150px]"
        id="descripcion"
        placeholder=""
      ></textarea>
    </div>
    <div>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-10 rounded focus:outline-none focus:shadow-outline"
        type="button"
      >
        Enviar
      </button>
    </div>
  </form>
</div>
