<form class="bg-white w-full px-10 py-12 rounded-3xl border-2 border-gray-100 text-gray-500"
  [formGroup]="myForm"
  (ngSubmit)="onsubmit()"
>

  <h1 class="text-5xl font-semibold text-gray-900">Recupere su contraseña</h1>
  <p class="font-medium text-lg mt-4">Recupere su cuenta en tan solo 1 Minuto!</p>

  <div class="mt-8">

    <div class="mt-2">
      <label class="text-lg font-medium" for="email">Email</label>
      <input class="w-full border-2 border-gray-100 rounded-xl p-4 mt-1 bg-transparent"
        placeholder="Email"
        name="email"
        id="email"
        autocomplete="email"
        formControlName="email"
        type="text"
      >
      <p customLabel [isTouched]="myForm.get('email')?.touched" [errors]="myForm.get('email')?.errors"></p>
    </div>

    <div class="mt-8 flex flex-col">
      <button
        type="submit"
        class="active:scale-[.98] active:duration-75 transition-all hover:scale-[1.01] ease-in-out py-3 rounded-xl accent text-lg font-bold"
      >
        Enviar
      </button>
    </div>

    <div class="mt-8 flex justify-center items-center">
      <p class="font-medium text-base">Ya tienes una cuenta?</p>
      <button type="button" class="text-gray-600 text-base font-medium ml-2" routerLink="/auth/login">Iniciar Sesión</button>
    </div>

  </div>

</form>
